<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="https://github.com/DarienArthur-Gocken/guestbook">GitHub Repo</a></li>
        <li><a href="https://www.linkedin.com/in/darien-arthur-gocken-821aab396/">LinkedIn</a></li>
    </ul>
</nav>