<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <script src="js/guestbook.js" defer></script>
</head>
<body>
    <%- include('partials/nav') %>
    <main>
        <form id = "guestbook-form" action = "submit-order" method="post"> 
            <fieldset>
                <legend class = "legend-header">Contact Form</legend>

                <div class="field">
                    <label for="firstname">First Name</label>
                    <input type = "text" id = "firstname" name = "firstname">
                    <span id="err-fname" class="error">First name cannot be empty!</span>
                </div>

                <div class="field">
                    <label for="lastname">Last Name</label>
                    <input type = "text" id = "lastname" name = "lastname">
                    <span id="err-lname" class="error">Last name cannot be empty!</span>
                </div>

                <div class="field">
                    <label for="jobtitle">Job Title</label>
                    <input type = "text" id = "jobtitle" name = "jobtitle">
                </div>

                <div class="field">
                    <label for="company">Company</label>
                    <input type = "text" id = "company" name = "company">
                </div>

                <div class="field">
                    <label for="linkedin">LinkedIn URL</label>
                    <input type = "text" id = "linkedin" name = "linkedin">
                    <span id="err-linkedin" class="error">LinkedIn URL must start with https://linkedin.com/in/</span>
                </div>

                <div class="field">
                    <label for="email">Email Address</label>
                    <input type = "email" id = "email" name = "email">
                    <span id="err-email" class="error">Please enter a valid email address!</span>
                </div>

                <div class="field">
                    <label for="met">How did we meet?</label>
                    <select id="met" name="met">
                        <option value="none">Please select</option>
                        <option value ="work">Work</option>
                        <option value ="client">Client</option>
                        <option value="recommend">Recommendation</option>
                        <option value="other">Other</option>
                    </select>
                    <span id="err-met" class="error">Please select how we met.</span>
                </div>

                <div class="field">
                    <label for="other">Other (please specify)</label>
                    <input type = "text" id = "other" name = "other">
                    <span id="err-othermet" class="error">Please specify how we met!</span>
                </div>

                <div class="field field-message">
                    <label for="message">Message</label>
                    <textarea id = "message" name = "message"></textarea>
                </div>

                <div class="field-check">
                    <label class="inline-checkbox">
                        <input type = "checkbox" id = "mailinglist" name = "mailinglist" value = "yes">
                        <div class = "mailing-title">Please add me to your mailing list</div>
                    </label>
                </div>
                <div class="field-radio">
                    <div class="radio-title">Choose an email format:</div>
                    <label class="inline-radio"><input type = "radio" id = "html" name = "emailformat" value = "html"> HTML</label>
                    <label class="inline-radio"><input type = "radio" id = "text" name = "emailformat" value = "text"> Text</label>
                </div>

                <div class="field-submit">
                    <button type = "submit">Submit</button>
                </div>

                <p>https://github.com/DarienArthur-Gocken/guestbook</p>
            </fieldset>
        </form>
    </main>
</body>
</html>