<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel ="icon" href = '/assets/resume.png'>
    <link rel ="stylesheet" href = '/styles/resume.css'>
    <link rel="stylesheet" href="/styles/nav.css">
</head>
<body>
    <%- include('partials/nav') %>
    <header>
        <div class="profile">
            <img src="assets/face.png" alt="Darien's face.">
            <h1>Darien Arthur-Gocken</h1>
        </div>
        <div class="contact">
            <p class="email">arthurgockendarien@gmail.com</p>
            <p class="phone">(253) 217-3302 - <a href="https://www.github.com/DarienArthur-Gocken">Github</a></p>
        </div>
    </header>

    <h2>Summary</h2>
    <p>A software development student seeking employment in technological fields while still within college.</p>

    <h2>Education</h2>
    <p><b>Green River College</b> - Auburn, WA. 2022 to Present<br>
        Bachelor of Applied Science, expected late 2027.<br>
        Major: Software Development (Applied Computer Science), GPA 3.5<br>
        Relevant Coursework:
    </p>
    <ul>
        <li>Object-Oriented Programming</li>
        <li>Data Structures</li>
        <li>Full Stack Web Development</li>
        <li>Database Fundamentals</li>
    </ul>

    <h2>Skills and Certifications</h2>
        <p>Skills</p>
        <ul>
            <li>Languages: Java, SQL, Javascript, C</li>
            <li>Web: HTML/CSS, jQuery, JSON</li>
            <li>Tools: VSCode, Git, Eclipse</li>
        </ul>
        <p>Certifications</p>
        <ul>
            <li>HTML Review</li>
            <li>Flexbox Review</li>
            <li>Google AI Fundamentals & Prompting.</li>
        </ul>

    <h2>Experience</h2>
            <p>AI Chatbot Creation - Late 2023</p>
            <ul>
                <li>Created a AI Chatbot for Green River College's Office of the Registrar</li>
                <li>The chatbot assisted in easing the workload of the Office of the Registrar by offering an easier Q&A section and answers about what they were lacking or needing.</li>
                <li>Contributions include eworking with Copilot Studio in order to produce a website-embeddable product and apporpriate responses.</li>
            </ul>

    <h2>Achievements and Activities</h2>
        <ul>
            <li>Participated in Auburn High School's Robotics Club.</li>
        </ul>
</body>
</html>